label {
    margin: 5px;
}

table {
    margin-top: 25px;
    text-align: right;
}

table tr td:nth-child(1) {
    text-align: left;
}

thead {
    font-weight: bold;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th {
    text-align: center;
    padding: 3px 5px;
}

td {
    padding: 3px 5px;
}

table tbody tr:nth-child(5) td:nth-child(1), table tbody tr:nth-child(5) td:nth-child(2) {
    font-weight: bold;
}
